body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1 {
    text-align: center; /* 가운데 정렬 스타일 */
    color: #333;
    padding: 100px;
}
label {
    display: block;
    margin: 20px auto;
    color: #333;
    width: 50%; /* textarea의 크기와 동일하게 설정 */
}
textarea {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0 auto; /* 가운데 정렬 스타일 */
    display: block; /* 가운데 정렬 스타일 */
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    box-sizing: border-box; /* padding과 border를 포함한 크기로 설정 */
}
button {
    padding: 10px 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* 가운데 정렬 스타일 */
    margin: 0 auto; /* 가운데 정렬 스타일 */
}
h2 {
    text-align: left; /* 가운데 정렬 스타일 */
    padding-left: 100px;
}
button:hover {
    opacity: 0.8;
}
.refresh{
    background-color: #4ca5af;
}
.button-container {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.result-box {
    width: 50%;
    margin: 20px auto; /* 가운데 정렬 스타일 */
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; /* 가운데 정렬 스타일 */
}
.page-switch-button {
    background-color: rgb(235, 206, 87);
}

.container {
    margin: auto;
    position: relative;
    height: auto;
    width: 50%;
}
  
#inputCode {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  